body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2f239b;
}

.hero-section {
    background-color: #2f239b;
}

.card {
    background-color: #f8f9fa;
}

.btn-danger {
    background-color: #ff4d6d;
    border: none;
}

.btn-danger:hover {
    background-color: #ff1f4b;
}